*{
    @font-face {
        font-family: fa;
        src: url(<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto+Mono:wght@200&display=swap" rel="stylesheet">);
    }
}

img{
    float:right;
    margin-right: 2em;
}

body{
    height: 100%;
    background-image: url('/home/stevew/Development/code/Portfolio-website/pexels-jess-bailey-designs-743986.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 20px 10px 20px;
}

nav{
    margin-left: 2em;
    margin-top: 5em;
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 20;
    padding: 0;
    width: 130px;
    background-color: #FB8122;
}
  
li a {
    display: block;
    color: #000;
    padding: 16px 20px;
    text-decoration: none;
}
  
  
li a:hover {
    background-color: #1D2228;
    color: white;
}


.par1{
    font-weight: bold;
    font-size: 35px;
    color: white;
    text-align: right;
    padding-left: 3em;
}
.par1 > span{
    color: #FB8122;
}

.par2{
    font-size: 30px;
    text-align: center;
}

.par3{
    font-size: 25px;
    text-align: right;
}
.par2, .par3{
    color: white;
}
.par1, .par2, .par3{
    line-height: 1.6;
}
.italic{
    font-size: 25px;
}

#homeprofile{
    margin-bottom: 3em;
    margin-left: 2em;
    margin-right: 2em;
    opacity: 0.8;
    border-radius: 15px 50px 30px;
    padding: 20px 25px 25px 25px;
}
#homeprofile:hover {
    opacity: 1.0;
  }

#portfolio{
    background-color: #FB8122;
    margin: 0.9em 2em 3em 2em;
    color:#000000;
    border-radius: 15px 50px 30px;
    padding: 25px 25px 25px 25px;
  }
#prt{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 4px;
}

#portfolio > p{
    font-size: 25px;
    line-height: 1.6;
}
.tools{
    /* text-align: center; */
}
i{
    font-size: 40px;
}